body {
    font-family: sans-serif;
    text-align: left;
    color: blue;
    background-color: aliceblue;
    overflow: hidden;
    align-items:center;
    height: 15vh;
    line-height: 1.8;

}

#title {
    font-size: 15rem;
    letter-spacing: -2px;
    cursor: pointer;
    z-index: 1;
}

.title-small {
    font-size: 10rem;
    letter-spacing: -2px;
    width: calc(100vw - 100px);
}